	<!DOCTYPE html>
	<html  xmlns:th="http://www.thymeleaf.org">
	<head>
	<meta charset="ISO-8859-1">
	<title>Expense list  </title>
	  <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
	    <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
	    <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
	
	
	</head>
	<body>
	<div class="container text-center">
		<div><h1>Category List</h1></div>
	 
	<div>
	<table class= "table table-bordered">
	<thead class"thead-dark">
	<tr>
	<th>ID</th>
	<th>expenseDate</th>
	<th>expenseAmount</th>
	<th>category</th>
	<th>expenseNote</th>
	<th></th>
	</tr>
	</thead>
	<tbody>
	
	<tr th:each="expense : ${listExpenses}">
	
	
	
	<td th:text="${expense.id}"></td>
	<td th:text="${expense.expenseDate}"></td>
	<td th:text="${expense.expenseAmount}"></td>
	<td th:text="${expense.category.name}"></td>
	<td th:text="${expense.expenseNote}"></td>
	<td>
		<a th:href="@{'/expenses/edit/' + ${expense.id}}">Edit</a>
		&nbsp;
		&nbsp;
	<a th:href="@{'/expenses/delete/' + ${expense.id}}">Delete</a>
	</tr>
	
	
	
	</tbody>
	</table>
	
	 
	 
	    </div>
	</div>
	</body>
	</html>
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
